
<tr>
    <td class="fieldLabelArea">
        Number of subtasks:
    </td>
    <td nowrap>
		<input type="text" name="countOfsubtasks" id="countOfsubtasks" #if($countOfsubtasks)
														value="$countOfsubtasks"
													#end/>   
    </td>
</tr>
